*{
    margin: 0%;
    font-family: 'verdana';
    font-weight: bold;
}

body{
    background-image: url(mma5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logos img{
    margin-left: 35px;
    width: 90px;
}

.boxlineas{
    display: none;
}

.boxlineas div{
    background-color: white;
    width: 30px;
    height: 3px;
    margin: 3px;
}

#chekin{
    display: none;
}

nav{
    display: none;
}

@media(max-width:1000px){

    header{
        z-index: 1;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(20px);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav{
        display: none;
        background-color: black;
        position: absolute;
        width: 100%;
        top: 94px;
    }

    nav ul{
        text-align: center;
        list-style: none;
    }

    nav ul li{
        margin-top: 15px;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: all .3s;
    }

    nav ul li a:hover{
        color: rgb(242, 180, 66);
    }

    nav ul li:nth-child(4){
        margin-bottom: 15px ;
    }

    .boxlineas{
        display: block;
        position: relative;
        right: 0%;
        margin-right: 35px;
    }

    #chekin:checked~nav{
        display: block;
    }
}

@media(min-width:1001px){

    header{
        z-index: 1;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(20px);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 5px 15px black;
    }

    nav{
        display: block;
    }

    nav ul{
        display: flex;
        padding: 10px;
    }

    nav ul li{
        list-style: none;
        margin-right: 20px;
    }

    nav ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin-right: 40px;
        padding: 5px;
        transition: .3s;
    }

    nav ul li a:hover{
        border-style: solid;
        border-color: rgb(242, 180, 66);
        border-left: 0;
        border-right: 0;
        border-top: 0;
        transition: .3s;
    }
}

article{
    width: 100%;
    justify-content: center;
}

.section1 img{
    width: 500px;
    border-radius: 170px;
    margin: 0 20px;
    box-shadow: 0px 5px 15px;
    transition: .3s;
}

.section1 img:hover{
    transform: scale(1.05);
    transition-duration: .3s;
}

.section1{
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    box-shadow: 0px 5px 15px;
}

.section1 h1{
    font-size: 70px;
    font-style: italic;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.section1 p{
    background-color: rgb(242, 180, 66);
    padding: 15px;
    border-radius: 20px;
    margin: 0px 20px;
    color: black;   
}

.section2{
    background-color: transparent;
    width: 100%;
    height: 400px;
    justify-items: center;
    align-content: center;
}

.MMA{
    text-align: center;
    width: 85%;
    color: white;
}

.MMA h3{
    font-size: 35px;
}

.MMA p{
    font-size: 20px;
}

.section3{
    background: black;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.section3 div{
    width: 300px;
    height: 300px;
    background-color: rgb(242, 180, 66);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(167,33,33,1);
    transition: .3s;
}

.section3 h3{
    margin-bottom: 15px;
    text-align: center;
}

.section3 li{
    margin-bottom: 15px;
    color: white;
}

.section3 div:hover{
    transform: scale(1.05);
    transition-duration: .3s;
}

.section4{
    background-color: transparent;
    width: 100%;
    height: 400px;
    justify-items: center;
    align-content: center;
}

.entrenadores{
    width: 85%;
    color: white;
    text-align: center;
}

.entrenadores h3{
    font-size: 35px;
}

.entrenadores p{
    font-size: 20px;
}

.section5{
    background-color: black;
    width: 100%;
}

.tony{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    flex-direction:row-reverse;
}

.tony img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(167,33,33,1);
}

.tony div{
    justify-items: center;
    color: white;
    transition: .3s;
}

.tony div:hover{
    transform: scale(1.05);
    transition: .3s;
}

.tony p{
    width: 50%;
    color: white;
}

.tony b{
    color: rgba(167,33,33,1);
    font-size: 30px;
}

.fer{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.fer img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(167,33,33,1);
}

.fer div{
    justify-items: center;
    color: white;
    transition: .3s;
}

.fer div:hover{
    transform: scale(1.05);
    transition: .3s;
}

.fer p{
    width: 50%;
    color: white;
}

.fer b{
    color: rgba(167,33,33,1);
    font-size: 30px;
}

.section6{
    background-color: transparent;
    align-content: center;
    justify-items: center;;
    width: 100%;
    height: 400px;
}

.titulo{
    width: 85%;
}

.titulo h3{
    text-align: center;
    color: white;
    font-size: 35px;
}

.titulo p{
    font-size: 20px;
    color: white;
    text-align: center;
}

.amm{
    padding-top: 30px;
    background-color: black;
    justify-items: center;
}

.informacion{
    width: 80%;
    justify-items: center;
}

.informacion img{
    width: 200px;
}

.informacion h3{
    font-size: 35px;
    color: red;
}

.informacion p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios img{
    border-radius: 20px;
    width: 200px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios img:hover{
    transform: scale(1.05);
    transition: .3s;
}

.division{
    background-color: transparent;
    width: 100%;
    height: 400px;
}

.jj{
    padding-top: 30px;
    background-color:black;
    justify-items: center;
}

.informacion2{
    width: 80%;
    justify-items: center;
}

.informacion2 img{
    width: 200px;
}

.informacion2 h3{
    font-size: 35px;
    color: red;
}

.informacion2 p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios2{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios2 img{
    border-radius: 20px;
    width: 350px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios2 img:hover{
    transform: scale(1.05);
    transition: .3s;
}

.bk{
    padding-top: 30px;
    background-color:black;
    justify-items: center;
}

.informacion3{
    width: 80%;
    justify-items: center;
}

.informacion3 img{
    width: 200px;
}

.informacion3 h3{
    font-size: 35px;
    color: red;
}

.informacion3 p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios3{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios3 img{
    border-radius: 20px;
    width: 350px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios3 img:hover{
    transform: scale(1.05);
    transition: .3s;
}

.mut{
    padding-top: 30px;
    background-color:black;
    justify-items: center;
}

.informacion4{
    width: 80%;
    justify-items: center;
}

.informacion4 img{
    width: 300px;
    position: relative;
    right: -70px;
}

.informacion4 h3{
    font-size: 35px;
    color: red;
}

.informacion4 p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios4{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios4 img{
    border-radius: 20px;
    width: 350px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios4 img:hover{
    transform: scale(1.05);
    transition: .3s;
}