*{
    margin: 0%;
    font-family: 'verdana';
    font-weight: bold;
}

body{
    background-image: url(mma5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.logos{
    display: flex;
}

.logos img{
    margin-left: 35px;
    width: 90px;
}

.boxlineas{
    display: none;
}

.boxlineas div{
    background-color: white;
    width: 50px;
    height: 6px;
    margin: 6px;
    transition: .3s;
}

#chekin{
    display: none;
}

nav{
    display: none;
}

@media(max-width:1000px){ 

    /*Barra de navegacion responsive*/
    header{
        z-index: 1;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(20px);
        position: fixed;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 5px 15px black;
        display: flex;
    }

    .logos img{
        width: 20%;
        margin-left: 7%;
    }

    nav{
        display: none;
        background-color: black;
        position: absolute;
        width: 100%;
        top: 120px;
    }

    nav ul{
        text-align: center;
        list-style: none;
    }

    nav ul li{
        margin-top: 60px;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 40px;
        transition: all .3s;
    }

    nav ul li a:hover{
        color: rgb(242, 180, 66);
    }

    nav ul li:nth-child(3){
        margin-bottom: 60px ;
    }

    .boxlineas{
        display: block;
        position: relative;
        right: 0%;
        margin-right: 4%;
    }

    #chekin:checked~nav{
        display: block;
    }

    #chekin:checked~.boxlineas div:nth-child(1){
        position: relative;
        right: -1px;
        rotate: 45deg;
        transition: .3s;
    }

    #chekin:checked~.boxlineas div:nth-child(2){
        position: relative;
        right: 1px;
        top: -11px;
        rotate: -45deg;
        transition: .3s
    }

    #chekin:checked~.boxlineas div:nth-child(3){
        opacity: 0%;
    }


    /*Pantalla 1 Inicio responsive*/
    .section1{
        margin-top: 3.8%;
        background-color: black;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .section1 img{
        width: 100%;
        mask-image: linear-gradient(to top, black, transparent);
    }

    .section1 .eslogan{
        justify-items: center;
    }

    .eslogan .redes{
        width: 85%;
        display: flex;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
        position: relative;
        margin-right: -14%;
    }

    .redes a{
        color: white;
        text-decoration: none;
    }

    .redes .face img{
        width: 20%;
        transition: .3s;
        border-radius: 25px;
        mask-image: none;
    }
     
    .face img:hover{
         background-color: white;
         transform: scale(1.1);
         transition: .3s;
    }
     
    .redes .insta img{
         width: 20%;
         transition: .3s;
         border-radius: 15px;
         mask-image: none;
    }
     
    .insta img:hover{
         background-color: white;
         transform: scale(1.1);
         transition: .3s;
    }
     
    .redes .whats img{
         width: 25%;
         transition: .3s;
         border-radius: 25px;
         mask-image: none;
    }
     
    .whats img:hover{
         background-color: white;
         transform: scale(1.1);
         transition: .3s;
    }
     
    .eslogan h1{
        font-size: 120px;
        font-style: italic;
        color: white;
        text-align: center;
        margin-bottom: 15%;
    }
    
    .eslogan p{
        font-size: 200%;
        color: white;
        text-align: center;
        margin-bottom: 15%;
        background-color: orange;
        width: 80%;
        border-radius: 20px;
        padding: 15px;
    }





    .section2{
        width: 100%;
        height: 2000px !important;
        justify-content: center;
    }

    .MMA h3{
        font-size: 400% !important;
        margin-bottom: 5%;
    }

    .MMA p{
       font-size: 250% !important;
    }
    



    .section3{
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .section3 div{
        width: 80% !important;
        height: 100% !important;
        margin-top: 15%;
        margin-bottom: 15%;
        box-shadow: 10px 10px 20px rgba(167,33,33,1);
    }

    .section3 div h3{
        margin-bottom: 10%;
        font-size: 600%;
        width: 100% !important;
        height: 100%;
    }

    .section3 div li{
        font-size: 300%;
    }





    .section4{
        width: 100%;
        height: 2000px !important;
    }

    .entrenadores h3{
        font-size: 400% !important;
        margin-bottom: 5%;
    }

    .entrenadores p{
       font-size: 250% !important;
    }
    
    .entrenadores{
        width: 85%;
        color: white;
        text-align: center;
    }
    
    .entrenadores h3{
        font-size: 35px;
    }
    
    .entrenadores p{
        font-size: 20px;
    }
    




    
    
    
     

    /*Pantalla 2 Servicios Responsive*/
    .section6{
        width: 100%;
        height: 2000px !important;
        justify-content: center;
    }

    .titulo h3{
        font-size: 400% !important;
        margin-bottom: 5%;
    }

    .titulo p{
       font-size: 250% !important;
    }

    .amm{
        padding-top: 5% !important;
    }

    .informacion{
        width: 100% !important;
    }
    
    .informacion img{
        width: 80% !important;
        margin-left: 5%;
    }
    
    .informacion h3{
        font-size: 300% !important;
        text-align: center;
    }
    
    .informacion p{
        font-size: 200% !important;
        margin-bottom: 5%;
        width: 85%;
    }
    
    .horarios{
        margin-top: 10%;
        width: 100%;
        flex-direction: column;
        padding-bottom: 5% !important;
    }
    
    .horarios img{
        border-radius: 20px;
        width: 80% !important;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    .jj{
        padding-top: 5% !important;
    }

    .informacion2{
        width: 100% !important;
    }
    
    .informacion2 img{
        width: 100% !important;
    }
    
    .informacion2 h3{
        font-size: 300% !important;
        text-align: center;
    }
    
    .informacion2 p{
        font-size: 200% !important;
        margin-bottom: 5%;
    }
    
    .horarios2{
        margin-top: 10%;
        width: 100%;
        height: 100% !important;
        padding-bottom: 5% !important;
    }
    
    .horarios2 img{
        border-radius: 20px;
        width: 100% !important;
    }

    .bk{
        padding-top: 5% !important;
    }

    .informacion3{
        width: 100% !important;
        justify-content: center;
    }
    
    .informacion3 img{
        width: 25% !important;
        margin-left: 35%;
    }
    
    .informacion3 h3{
        font-size: 300% !important;
        text-align: center;
    }
    
    .informacion3 p{
        font-size: 200% !important;
        margin-bottom: 5%;
    }
    
    .horarios3{
        margin-top: 10% !important;
        width: 100%;
        height: 100% !important;
        padding-bottom: 5% !important;
    }
    
    .horarios3 img{
        border-radius: 20px;
        width:100% !important;
    }

    .mut{
        padding-top: 5% !important;
    }

    .informacion4{
        margin-top: 10% !important;
        width: 100% !important;
        justify-content: center;
    }
    
    .informacion4 img{
        width: 50% !important;
        margin-left: 25%;
    }
    
    .informacion4 h3{
        font-size: 300% !important;
        text-align: center;
    }
    
    .informacion4 p{
        font-size: 200% !important;
        margin-bottom: 5%;
    }
    
    .horarios4{
        width: 100%;
        height: 100% !important;
        padding-bottom: 5% !important;
    }
    
    .horarios4 img{
        border-radius: 20px;
        width:100% !important;
    }

    /*Pantalla 3 Productos Responsive*/
    .section7{
        height: 2000px;
    }

    .guantes .iconomenu{
        margin-bottom: 15% !important;
    }

    .guantes .menuguantes{
        margin-top: -15%;
    }

    .espinilleras .iconomenu2{
        margin-bottom: 15% !important;
    }

    .espinilleras .menuespinilleras{
        margin-top: -15%;
    }

    .caretas .iconomenu3{
        margin-bottom: 15% !important;
    }

    .caretas .menucaretas{
        margin-top: -15%;
    }

    .bucales .iconomenu4{
        margin-bottom: 15% !important;
    }

    .bucales .menubucales{
        margin-top: -15%;
    }

    .vendajes .iconomenu5{
        margin-bottom: 15% !important;
    }

    .vendajes .menuvendajes{
        margin-top: -15%;
    }

    .futbol .iconomenu6{
        margin-bottom: 15% !important;
    }

    .futbol .menufutbol{
        margin-top: -15%;
    }

    .ropa .iconomenu7{
        margin-bottom: 15% !important;
    }

    .ropa .menuropa{
        margin-top: -15%;
    }

    .conchas .iconomenu8{
        margin-bottom: 15% !important;
    }

    .conchas .menuconchas{
        margin-top: -15%;
    }

    .accesorios .iconomenu9{
        margin-bottom: 15% !important;
    }

    .accesorios .menuaccesorios{
        margin-top: -15%;
    }
}

@media(min-width:1001px){

    /*barra de navegacion compu*/
    header{
        z-index: 1;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(20px);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 5px 15px black;
    }

    nav{
        display: block;
    }

    nav ul{
        display: flex;
        padding: 10px;
    }

    nav ul li{
        list-style: none;
        margin-right: 20px;
    }

    nav ul li a{
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin-right: 40px;
        padding: 5px;
        transition: .3s;
    }

    nav ul li a:hover{
        border-style: solid;
        border-color: rgb(242, 180, 66);
        border-left: 0;
        border-right: 0;
        border-top: 0;
        transition: .3s;
    }




    /*Pantalla 1 compu*/
    .section1{
        margin-top: .7%;
        background-color: black;
        display: flex;
        width: 100%;
    }
    
    .section1 img{
        width: 55%;
        mask-image: linear-gradient(to right, black, transparent);
    }
    
    .eslogan{
        width: 50%;
        position: relative;
        justify-items: center;
    }
    
    .redes{
        display: flex;
        width: 85%;
        text-align: center;
        margin-top: 2%;
    }

    .redes a{
        color: white;
        font-size: 11px;
        text-decoration: none;
    }
    
    .redes .face img{
        width: 10%;
        transition: .3s;
        border-radius: 25px;
        mask-image: none;
    }
     
    .face img:hover{
         background-color: white;
         transform: scale(1.1);
         transition: .3s;
    }
     
    .redes .insta img{
         width: 10%;
         transition: .3s;
         border-radius: 15px;
         mask-image: none;
    }
     
    .insta img:hover{
         background-color: white;
         transform: scale(1.1);
         transition: .3s;
    }
     
    .redes .whats img{
         width: 15%;
         transition: .3s;
         border-radius: 25px;
         mask-image: none;
    }
     
    .whats img:hover{
         background-color: white;
         transform: scale(1.1);
         transition: .3s;
    }
     
     .eslogan h1{
        font-size: 70px;
        font-style: italic;
        color: white;
        text-align: center;
        margin-bottom: 5%;
    }
    
    .eslogan p{
        font-size: 20px;
        color: white;
        text-align: center;
        margin-bottom: 5%;
        background-color: orange;
        width: 80%;
        border-radius: 20px;
        padding: 15px;
    }

    .section4{
        background-color: transparent;
        width: 100%;
        height: 600px;
        justify-items: center;
        align-content: center;
    }
    
    .entrenadores{
        width: 85%;
        color: white;
        text-align: center;
    }
    
    .entrenadores h3{
        font-size: 35px;
    }
    
    .entrenadores p{
        font-size: 20px;
    }

}

.section2{
    background-color: transparent;
    width: 100%;
    height: 600px;
    justify-items: center;
    align-content: center;
}

.MMA{
    text-align: center;
    width: 85%;
    color: white;
}

.MMA h3{
    font-size: 35px;
}

.MMA p{
    font-size: 20px;
}

.section3{
    background: black;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.section3 div{
    width: 300px;
    height: 300px;
    background-color: rgb(242, 180, 66);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(167,33,33,1);
    transition: .3s;
}

.section3 h3{
    margin-bottom: 15px;
    text-align: center;
}

.section3 li{
    margin-bottom: 15px;
    color: white;
}

.section3 div:hover{
    transform: scale(1.05);
    transition-duration: .3s;
}

.section4{
    background-color: transparent;
    width: 100%;
    height: 600px;
    justify-items: center;
    align-content: center;
}

.entrenadores{
    width: 85%;
    color: white;
    text-align: center;
}

.entrenadores h3{
    font-size: 35px;
}

.entrenadores p{
    font-size: 20px;
}











/*Pantalla 2 Servicios*/
.section6{
    background-color: transparent;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 600px;
}

.titulo{
    width: 85%;
}

.titulo h3{
    text-align: center;
    color: white;
    font-size: 35px;
}

.titulo p{
    font-size: 20px;
    color: white;
    text-align: center;
}

.amm{
    padding-top: 30px;
    background-color: black;
    justify-items: center;
}

.amm a{
    background-color: red;
    padding: 20px 35px 20px 35px;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    transition: .3s;
}

.amm a:hover{
    color: white;
    transition: .3s;
}

.informacion{
    width: 80%;
    justify-items: center;
}

.informacion img{
    width: 200px;
}

.informacion h3{
    font-size: 35px;
    color: red;
}

.informacion p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios img{
    border-radius: 20px;
    width: 400px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios img:hover{
    transform: scale(1.05);
    transition: .3s;
}

.division{
    color: transparent;
    width: 100%;
    height: 400px;
}

.jj{
    padding-top: 30px;
    background-color:black;
    justify-items: center;
}

.jj a{
    background-color: red;
    padding: 20px 35px 20px 35px;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    transition: .3s;
}

.jj a:hover{
    color: white;
    transition: .3s;
}

.informacion2{
    width: 80%;
    justify-items: center;
}

.informacion2 img{
    width: 200px;
}

.informacion2 h3{
    font-size: 35px;
    color: red;
}

.informacion2 p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios2{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios2 img{
    border-radius: 20px;
    width: 350px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios2 img:hover{
    transform: scale(1.05);
    transition: .3s;
}

.bk{
    padding-top: 30px;
    background-color:black;
    justify-items: center;
}

.bk a{
    background-color: red;
    padding: 20px 35px 20px 35px;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    transition: .3s;
}

.bk a:hover{
    color: white;
    transition: .3s;
}

.informacion3{
    width: 80%;
    justify-items: center;
}

.informacion3 img{
    width: 200px;
}

.informacion3 h3{
    font-size: 35px;
    color: red;
}

.informacion3 p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios3{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios3 img{
    border-radius: 20px;
    width: 350px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios3 img:hover{
    transform: scale(1.05);
    transition: .3s;
}

.mut{
    padding-top: 30px;
    background-color:black;
    justify-items: center;
}

.mut a{
    background-color: red;
    padding: 20px 35px 20px 35px;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    transition: .3s;
}

.mut a:hover{
    color: white;
    transition: .3s;
}

.informacion4{
    width: 80%;
    justify-items: center;
}

.informacion4 img{
    width: 300px;
    position: relative;
    right: -70px;
}

.informacion4 h3{
    font-size: 35px;
    color: red;
}

.informacion4 p{
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.horarios4{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.horarios4 img{
    border-radius: 20px;
    width: 350px;
    box-shadow: 5px 5px 15px red;
    transition: .3s;
}

.horarios4 img:hover{
    transform: scale(1.05);
    transition: .3s;
}




/* Pantalla 3 Productos*/
.section7{
    background-color: transparent;
    justify-items: center;
    height: 600px;
    align-content: center;
}

.productos{
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-top: 15px;   
}

.productos .descripcion{
    flex-direction: column;
    margin-top: 5%;
}

.productos h4{
    font-family: Impact, Haettenschweiler;
    font-size: 50px;
    color: white;
    margin-bottom: 5%;
}

.productos h5{
    font-size: 20px;
}

.productos p{
    color: white;
}

.productos a{
    color: black;
    text-decoration: none;
    background-color: yellowgreen;
    text-align: center;
    padding: 20px;
    width: 150px;
    border-radius: 40px;
    margin-top: 10%;
    transition: .3s;
}

.productos a:hover{
    transform: scale(1.05);
    transition: .3s;
}



.guantes{
    justify-items: center;
}

.guantes .iconomenu{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.guantes .iconomenu h5{
    font-size: 40px;
}

.iconomenu:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}

.guantes .iconomenu div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;

}

.iconomenu div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek{
    display: none;
}

#chek:checked~.menuguantes{
    display: block;
}

#chek:checked~.iconomenu{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menuguantes{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menuguantes img{
    width: 35%;
    margin-bottom: 15%;
    margin-right: 10%;
    margin-left: 15%;
}

.menuguantes div{
    display: flex;
}






.espinilleras{
    justify-items: center;
}

.espinilleras .iconomenu2{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.espinilleras .iconomenu2 h5{
    font-size: 40px;
}

.iconomenu2:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}

.espinilleras .iconomenu2 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.iconomenu2 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu2 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek2{
    display: none;
}

#chek2:checked~.menuespinilleras{
    display: block;
}

#chek2:checked~.iconomenu2{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menuespinilleras{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menuespinilleras img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menuespinilleras div{
    display: flex;
}




.caretas{
    justify-items: center;
}

.caretas .iconomenu3{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.caretas .iconomenu3 h5{
    font-size: 40px;
}

.iconomenu3:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}

.caretas .iconomenu3 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.caretas .iconomenu3 h5{
    font-size: 40px;
}

.iconomenu3 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu3 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek3{
    display: none;
}

#chek3:checked~.menucaretas{
    display: block;
}

#chek3:checked~.iconomenu3{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menucaretas{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menucaretas img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menucaretas div{
    display: flex;
}





.bucales{
    justify-items: center;
}

.bucales .iconomenu4{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.bucales .iconomenu4 h5{
    font-size: 40px;
}

.iconomenu4:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}


.bucales .iconomenu4 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.iconomenu4 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu4 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek4{
    display: none;
}

#chek4:checked~.menubucales{
    display: block;
}

#chek4:checked~.iconomenu4{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menubucales{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menubucales img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menubucales div{
    display: flex;
}





.vendajes{
    justify-items: center;
}

.vendajes .iconomenu5{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.vendajes .iconomenu5 h5{
    font-size: 40px;
}

.iconomenu5:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.05);
    transition: .3s;
}


.vendajes .iconomenu5 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.iconomenu5 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu5 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek5{
    display: none;
}

#chek5:checked~.menuvendajes{
    display: block;
}

#chek5:checked~.iconomenu5{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menuvendajes{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menuvendajes img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menuvendajes div{
    display: flex;
}




.futbol{
    justify-items: center;
}

.futbol .iconomenu6{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.futbol .iconomenu6 h5{
    font-size: 40px;
}

.iconomenu6:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}


.futbol .iconomenu6 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.iconomenu6 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu6 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek6{
    display: none;
}

#chek6:checked~.menufutbol{
    display: block;
}

#chek6:checked~.iconomenu6{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menufutbol{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menufutbol img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menufutbol div{
    display: flex;
}




.ropa{
    justify-items: center;
}

.ropa .iconomenu7{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.ropa .iconomenu7 h5{
    font-size: 40px;
}

.iconomenu7:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}

.ropa .iconomenu7 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.iconomenu7 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu7 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek7{
    display: none;
}

#chek7:checked~.menuropa{
    display: block;
}

#chek7:checked~.iconomenu7{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menuropa{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menuropa img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menuropa div{
    display: flex;
}




.conchas{
    justify-items: center;
}

.conchas .iconomenu8{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.conchas .iconomenu8 h5{
    font-size: 40px;
}

.iconomenu8:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}

.conchas .iconomenu8 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.iconomenu8 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu8 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek8{
    display: none;
}

#chek8:checked~.menuconchas{
    display: block;
}

#chek8:checked~.iconomenu8{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menuconchas{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menuconchas img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menuconchas div{
    display: flex;
}



.accesorios{
    justify-items: center;
}

.accesorios .iconomenu9{
    color: white;
    width: 85%;
    display: flex;
    background-color: black;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 40px;
    transition: .3s;
}

.accesorios .iconomenu9 h5{
    font-size: 40px;
}

.iconomenu9:hover{
    box-shadow: 5px 5px 15px red;
    transform: scale(1.07);
    transition: .3s;
}

.accesorios .iconomenu9 div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}

.iconomenu9 div:nth-child(2){
    position: relative;
    right: 6px;
    bottom: -10px;
    rotate: 40deg;

}

.iconomenu9 div:nth-child(3){
    position: relative;
    right: -8px;
    rotate: -45deg;
    bottom: -4px;
}

#chek9{
    display: none;
}

#chek9:checked~.menuaccesorios{
    display: block;
}

#chek9:checked~.iconomenu9{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 15px red;
    background-color: black;
    transform: scale(1.1);
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.menuaccesorios{
    background-color: black;
    display: none;
    width: 100%;
    position: relative;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.menuaccesorios img{
    width: 35%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 15%;
}

.menuaccesorios div{
    display: flex;
}



